
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root {
    --cor1: rgb(0, 98, 155);
    --cor1Dark: rgb(1, 65, 70);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--cor1);
    line-height: 1.5em;
    font-size: 1.3em;
    font-family: 'Open Sans', sans-serif;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.425);
    background-color: #fff;
    padding: 20px;
}

h1 {
    text-align: center;
}

ul {
   margin: 30px auto;
   width: 80%;
   padding: 10px;
   border-radius: 3px;
   background-color: lightgray;
   list-style-position: inside;
}

ul > li {
    margin: 5px;
    padding: 4px;
    border-radius: 3px;
    background-color: white;
}

.input, .adicionar {
    display: block;
    margin: auto;
    font-size: 24px;
    height: 50px;
    width: 80%;
    padding: 0 20px;
    margin-bottom: 5px;
    border-radius: 3px;
    border: 2px solid rgba(61, 61, 61, 0.356)
    
}

input:focus {
    outline: 1px solid var(--cor1);
}

button {
    display: block;
    border: none;
    border-radius: 3px;
    background-color: var(--cor1);
    color: #fff;
    padding: 5px;
    font-size: 18px;
    font-weight: 700px;
    cursor: pointer;
    margin: 3px;
}

button:hover {
    background-color: var(--cor1Dark);
}

button:active {
    background-color: rgb(43, 122, 226);
}